.login-form {
	padding: 24px 24px 24px 24px;
	border: 1px solid #1b6eae;
}

.large-back {
	width: 100%;
	height: 100%;
}

.border-black {
	border: 1px solid #CCCCCC;
}

.padding-right10 {
	padding-right: 10px;
}

.commentaire-area {
	width: 100%;
}