@-webkit-keyframes anim {
	0% {transform: scale(1);
		background-color: #ADCD24;}
	10% {transform: scale(1.2);}
	100% {background-color: #16A3EC;}
}

@keyframes anim {
	0% {transform: scale(1);
		background-color: #ADCD24;}
	10% {transform: scale(1.2);}
	100% {background-color: #16A3EC;}
}

html, body, #frame {
   margin: 0;
   padding: 0;
   height: 100%;
}

#nav {
	width: 100%;
	float: left;
	list-style: none;
	background-color: #FAFAFA;
	border-bottom: 2px solid #0B0B0B;
	top: 0;
	left: 0;
	margin: 0;
}

#nav li {
	float: left;
}

#nav li a {
	font-weight: bold;
	display: block;
	text-decoration: bold;
	text-align: center;
	margin: 5px 5px;
	padding: 5px 5px;
	text-decoration: none;
	font-weight: default;
	color: #FAFAFA;
	background-color: #ADCD24;
	border-radius: 5px;
	height: 30px;
}

#nav li a:hover {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	background-color: #16A3EC;
	animation: anim 1s;
}

#logo {
	height: 40px;
}

#frame {
	display: block;
	width: 100%;
	height: 100%;
	overflow: visible;
}
