<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="theme-color" content="#0072c6">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<?php echo html::favicon('favicon.png'); ?>
		<?php echo html::css('metro.css'); ?>
		<?php echo html::css('metro-icons.css'); ?>
		<?php echo html::css('blog.css'); ?>
		<?php echo html::javascript('jquery.js'); ?>
		<?php echo html::javascript('metro.js'); ?>
		<title>Blog</title>
	</head>
	<body>
		<header>
			<div class="app-bar" data-role="appbar">
				<?php 
					echo html::link('<span class="mif-windows"></span> Accueil', null, array('class'=>'app-bar-element'));
					echo html::link('Contact', array('controller'=>'Index', 'view'=>'contact'), array('class'=>'app-bar-element place-right'));
					if(isset($_SESSION['editor_id'])) {
						echo html::link('<span class="mif-user"></span> '.ucfirst($_SESSION['editor_name']), array('controller'=>'Editors', 'view'=>'login'), array('class'=>'app-bar-element place-right'));
					} else {
						echo html::link('Accès rédacteur', array('controller'=>'Editors', 'view'=>'login'), array('class'=>'app-bar-element place-right'));
					}
				?>


			</div>
		</header>
	<div class="container page-content">
  	<h1 class="leader">Erreur 404</h1>
  	<p>L'URL <strong><?= $_SERVER["REQUEST_URI"] ?></strong>	 n'existe pas!</p>
  	<a href="<?= $_SERVER["HTTP_REFERER"]  ?>" class="button">Page précédente</a>
  	<?= html::link('Accueil', null, array('class'=>'button info fg-white')); ?>
</div>
</body>
</html>
